rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // ATENÇÃO: Esta regra é permissiva e ideal apenas para o ambiente de teste local.
    // Ela permite que qualquer um leia e escreva em qualquer coleção.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
